<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('soahki:Länsservice')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="content">
    <h2>Välkommen</h2>
    <p>STATISTIKSERVICE tillhandahåller information om Sveriges alla län och kommuner. <br/>
    Innehåll så här långt:</p>
    <ul>
        <li>Befolkningsstorlek</li>
    </ul>
    <a href="counties">Länslista</a>
</div>
<div th:replace="layout :: foot"></div>

</body>
</html>