<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('Om soahki:länsservice')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="text">
    <h1>Om soahki</h1>
    <p>Soahki är samiska för björk. Valet av namnet kommer från den samiska kulturens närhet till naturen, även när
        delar av den följt med som en del av det moderna Sverige. En björk har en modest början, men utvecklar
        motståndskraft och når nya höjder. [Och redaktören har visst tycke för björkslag - red. anm.]</p>
    <h1>Om Länsservice</h1>
    <p>Länsservice tillhandahåller en webbapplikation för att jämföra och analysera olika statistik grafiskt och
    i tabellform. Det statistiska underlaget tillhandahålls av SCB, <a href="http://www.scb.se/">scb.se</a></p>
</div>

</body>
</html>