<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Om soahki:statistikservice')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="content">

    <a href="statistik/befolkning/2016" class="button" th:if="${stats} == null">BEFOLKNINGSDATA</a>
    <div id="popData" th:if="${stats} != null">
        <div id="summary">
            <h2>BEFOLKNINGSDATA 2016</h2>
            <table>
                <tr>
                    <th>Deskriptiv</th>
                    <th>Värde</th>
                </tr>
                <tr>
                    <td>Summa:</td>
                    <td th:text="${#numbers.formatDecimal(stats.sum, 0, 0)}"></td>
                </tr>
                <tr>
                    <td>Min:</td>
                    <td th:text="${#numbers.formatDecimal(stats.min, 0, 0)}"></td>
                </tr>
                <tr>
                    <td>Max:</td>
                    <td th:text=" ${#numbers.formatDecimal(stats.max, 0, 0)}"></td>
                </tr>
                <tr>
                    <td>Medel:</td>
                    <td th:text="${#numbers.formatDecimal(stats.mean, 0, 1)}"></td>
                </tr>
                <tr>
                    <td>Median:</td>
                    <td th:text="${#numbers.formatDecimal(stats.median, 0, 1)}"></td>
                </tr>
                <tr>
                    <td>Standardavvikelse:</td>
                    <td th:text="${#numbers.formatDecimal(stats.standardDeviation, 0, 1)}"></td>
                </tr>
            </table>
        </div>
        <div id="top10">
            
        </div>
    </div>
</div>
<div th:replace="layout :: foot"></div>
</body>
</html>